.scene {
  width: 100px;
  height: 100px;
  perspective: 600px;
}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear;
}
.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(30,144,255,0.7);
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}
.face1 { transform: rotateY(0deg) translateZ(50px); }
.face2 { transform: rotateY(90deg) translateZ(50px); }
.face3 { transform: rotateY(180deg) translateZ(50px); }
.face4 { transform: rotateY(-90deg) translateZ(50px); }
.face5 { transform: rotateX(90deg) translateZ(50px); }
.face6 { transform: rotateX(-90deg) translateZ(50px); }

@keyframes rotate {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}
